aiohttp==3.7.4.post0; python_version >= "3.6"
altgraph==0.17; sys_platform == "darwin" and python_version >= "3.6"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
click==8.0.1; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0"
future==0.18.2; sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.6.0"
idna==3.2; python_version >= "3.6"
macholib==1.14; sys_platform == "darwin" and python_version >= "3.6"
multidict==5.1.0; python_version >= "3.6"
pefile==2021.5.24; sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.6.0"
pyinstaller-hooks-contrib==2021.2; python_version >= "3.6"
pyinstaller==4.3; python_version >= "3.6"
pywin32-ctypes==0.2.0; sys_platform == "win32" and python_version >= "3.6"
typing-extensions==3.10.0.0; python_version >= "3.6"
yarl==1.6.3; python_version >= "3.6"
